.direnv
.git
.gitea
.idea
.svelte-kit
build
node_modules
pb_data
pb_migrations

.dockerignore
.envrc
.gitignore

README.md
flake.lock
flake.nix
formula11.dockerfile
pocketbase.dockerfile
prettier.config.js
